<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzp.pet.mapper.PetsImgMapper">
    <select id="queryImgList" resultType="com.wzp.pet.po.PetsImg">
        SELECT
        images_id,
        images,
        title,
        pet_type,
        introduce,
        petId
        FROM
        pet_images
    </select>

</mapper>